body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	min-width: 1200px;
	color: #999;
	padding: 0;
	margin: 0;
}

h1 {
	font-size: 24px;
	color: black;
}

h2 {
	font-size: 16px;
	color: black;
}

p {
    color: black;
}

a {
	color: #999;
}

table {
	border-collapse: collapse;
}

button {
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: #b5b5b5;
	/* -webkit-box-shadow: inset 0 -2px 0 0 #888;
	box-shadow: inset 0 -2px 0 0 #888; */
	border: 0;
	border-radius: 2px;
	color: #fff;
	cursor: pointer;
	font-size: 14px;
	padding: 5.5px 14px 7.5px;
	margin-right: 5px;
}

button:hover {
	background-color: #cfcfcf;
}

button:active {
	background-color: #888;
	-webkit-box-shadow: none;
	box-shadow: none;
}

/******************************
 * SUMMARY INFORMATION
 ******************************/

#environment td {
	padding: 5px;
	border: 1px solid #E6E6E6;
}

#environment tr:nth-child(odd) {
	background-color: #f6f6f6;
}


/* Tooltip container */
.tooltip {
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 5px;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}


/******************************
 * TEST RESULT COLORS
 ******************************/
span.passed, .passed .col-result {
	color: green;
}
span.skipped, span.xfailed, span.rerun, .skipped .col-result, .xfailed .col-result, .rerun .col-result {
	color: orange;
}
span.error, span.failed, span.xpassed, .error .col-result, .failed .col-result, .xpassed .col-result  {
	color: red;
}

/* body, html {
	font-family: Open Sans,sans-serif;

} */

.project-test-results-summary, .results-details {
	padding-left: 10px;
}

.project-title {
	font-size: 36px;
	font-weight: 700;
}

.generated-info, .environment-info, .summary-info, .results-info {
	padding-left: 10px;
	padding-right: 10px;
}

/* .count-toggle-button {
	border: 0;
	border-radius: 2px;
	color: #fff;
	cursor: pointer;
	font-size: 14px;
	line-height: 1.25;
	padding: 5.5px 14px 7.5px;
	background-color: #484847;
	-webkit-box-shadow: inset 0 -2px 0 0 #353535;
	box-shadow: inset 0 -2px 0 0 #353535;
	display: flex;
	flex-direction: row;
	align-items: center;
} */

.count-toggle-button .button-text {
	padding-right: 10px;
}

.show-hide-buttons {
	padding-left: 10px;
	padding-bottom: 10px;
	display: flex;
    flex-direction: row;
}


/******************************
 * RESULTS DETAILS
 ******************************/

ul.top-container-list > li.results-summary-container {
	padding-left:0;
}

.results-summary-container-header{
	/* background-color: #389cd9; */
	background-color: white;
	padding: 7px 8px;
	font-size: 14px;
	overflow: auto;
	cursor: pointer;
}

.node-level-description {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.results-summary-numbers {
	padding-left: 10px;
}

.results-summary-container.odd > .child-containers{
	background-color: #CFCFCF;
}
.results-summary-container.even > .child-containers{
	background-color: #E5E5E5;
}


.results-summary-container-header {
	display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
	color: #484847;
	border-bottom: 1px solid #e5e5e5;
}
.results-summary-container-header.active {
	background-color: #f9f9f9;
	border-bottom: 2px solid #e5e5e5;
}

.results-summary-container-header:hover {
	background-color: #eff4f9;
	color: #4597cb;
}

.results-summary-numbers-wrapper {
	display: flex;
	align-items: center;
	flex-direction: row;
}

.results-summary-numbers-wrapper::after {
	margin-left: 5px;
	content: "\25B6";
}

.results-summary-container-header.active > .results-summary-numbers-wrapper::after {
	content: "\25BC";
}

.results-summary-numbers {
	display: flex;
    flex-direction: row;
}


/* Passed not active */
li.results-summary-container.passed > .results-summary-container-header {
	background-color: #78CBAA; /* 50% */
}
li.results-summary-container.passed > .results-summary-container-header:hover {
	background-color: #B0E0CB; /* 30% */
}

/* Passed active */
li.results-summary-container.passed > .results-summary-container-header.active {
	background-color: #E6F5ED; /* 10% */
}
li.results-summary-container.passed > .results-summary-container-header.active:hover {
	background-color: #F3FAF5; /* 5% */
}


/* Skipped/Expected Failure not active */
li.results-summary-container.skipped > .results-summary-container-header, li.results-summary-container.xfailed > .results-summary-container-header {
	background-color: #F9B593; /* 50% */
}
li.results-summary-container.skipped > .results-summary-container-header:hover, li.results-summary-container.xfailed > .results-summary-container-header:hover {
	background-color: #FED2BC; /* 30% */
}

/* Skipped/Expected Failure active */
li.results-summary-container.skipped > .results-summary-container-header.active, li.results-summary-container.xfailed > .results-summary-container-header.active {
	background-color: #FFF0E8; /* 10% */
}
li.results-summary-container.skipped > .results-summary-container-header.active:hover, li.results-summary-container.xfailed > .results-summary-container-header.active:hover {
	background-color: #FFF7F3; /* 5% */
}


/* Failed/Error/Unexpected Pass not active */
li.results-summary-container.failed > .results-summary-container-header, li.results-summary-container.error > .results-summary-container-header, li.results-summary-container.xpassed > .results-summary-container-header {
	background-color: #E06B70; /* 50% */
}
li.results-summary-container.failed > .results-summary-container-header:hover, li.results-summary-container.error > .results-summary-container-header:hover, li.results-summary-container.xpassed > .results-summary-container-header:hover {
	background-color: #ED9696; /* 30% */
}

/* Failed/Error/Unexpected Pass active */
li.results-summary-container.failed > .results-summary-container-header.active, li.results-summary-container.error > .results-summary-container-header.active, li.results-summary-container.xpassed > .results-summary-container-header.active {
	background-color: #F8C0BE; /* 10% */
}
li.results-summary-container.failed > .results-summary-container-header.active:hover, li.results-summary-container.error > .results-summary-container-header.active:hover, li.results-summary-container.xpassed > .results-summary-container-header.active:hover {
	background-color: #FEE9E8; /* 5% */
}


.results li {
	list-style-type: none;
}

.results ul {
	margin: 0;
	padding: 0;
	padding-left: 10px;
}

.results-summary-container-header:not(.active) ~ div.child-containers {
	height: 0;
	overflow: hidden;
}


.summary-result-count::before {
	margin-right: 5px;
}

.summary-result-count {
	border-radius: 1.5em;
	padding: .3em .6em;
	text-align: center;
	white-space: nowrap;
	color: #fff;
}


/* Passed not shown */
.count-toggle-button.passed {
    background-color: #B0E0CB; /* 30% */
}
.count-toggle-button.passed:hover {
    background-color: #E6F5ED; /* 10% */
}
.count-toggle-button.passed:hover .summary-result-count {
    background-color: #B0E0CB; /* 30% */
}
.summary-result-count.passed {
	background-color: #78CBAA; /* 50% */
}

/* Passed shown */
.count-toggle-button.passed.shown {
    background-color: #00945E; /* 100% */
}
.count-toggle-button.passed.shown:hover {
    background-color: #00A06D; /* 90% */
}
.summary-result-count.passed.shown {
	background-color: #2EB68B; /* 70% */
}
.count-toggle-button.passed.shown:hover .summary-result-count {
    background-color: #78CBAA; /* 50% */
}


/* Skipped/Expected Failure not shown */
.count-toggle-button.skipped, .count-toggle-button.xfailed {
    background-color: #FED2BC; /* 30% */
}
.count-toggle-button.skipped:hover, .count-toggle-button.xfailed:hover {
    background-color: #FFF0E8; /* 10% */
}
.count-toggle-button.skipped:hover .summary-result-count, .count-toggle-button.xfailed:hover .summary-result-count {
    background-color: #FED2BC; /* 30% */
}
.summary-result-count.skipped, .summary-result-count.xfailed {
	background-color: #F9B593; /* 50% */
}

/* Skipped/Expected Failure shown */
.count-toggle-button.skipped.shown, .count-toggle-button.xfailed.shown {
    background-color: #E16A2D; /* 100% */
}
.count-toggle-button.skipped.shown:hover, .count-toggle-button.xfailed.shown:hover {
    background-color: #E77A43; /* 90% */
}
.summary-result-count.skipped.shown, .summary-result-count.xfailed.shown {
	background-color: #F1986B; /* 70% */
}
.count-toggle-button.skipped.shown:hover .summary-result-count, .count-toggle-button.xfailed.shown:hover .summary-result-count {
    background-color: #F9B593; /* 50% */
}


/* Failed/Error/Unexpected Pass not shown */
.count-toggle-button.failed, .count-toggle-button.error, .count-toggle-button.xpassed {
    background-color: #ED9696; /* 30% */
}
.count-toggle-button.failed:hover, .count-toggle-button.error:hover, .count-toggle-button.xpassed:hover {
    background-color: #F8C0BE; /* 10% */
}
.count-toggle-button.failed:hover .summary-result-count, .count-toggle-button.error:hover .summary-result-count, .count-toggle-button.xpassed:hover .summary-result-count {
    background-color: #ED9696; /* 30% */
}
.summary-result-count.failed, .summary-result-count.error, .summary-result-count.xpassed {
	background-color: #E06B70; /* 50% */
}

/* Failed/Error/Unexpected Pass shown */
.count-toggle-button.failed.shown, .count-toggle-button.error.shown, .count-toggle-button.xpassed.shown {
    background-color: #B20734; /* 100% */
}
.count-toggle-button.failed.shown:hover, .count-toggle-button.error.shown:hover, .count-toggle-button.xpassed.shown:hover {
    background-color: #C6093B; /* 90% */
}
.summary-result-count.failed.shown, .summary-result-count.error.shown, .summary-result-count.xpassed.shown {
	background-color: #D8535E; /* 70% */
}
.count-toggle-button.failed.shown:hover .summary-result-count, .count-toggle-button.error.shown:hover .summary-result-count, .count-toggle-button.xpassed.shown:hover .summary-result-count {
    background-color: #E06B70; /* 50% */
}


.summary-result-count.passed::before{
	content: "\2713";
}
.summary-result-count.skipped::before {
	content: "\21A9";
}
.summary-result-count.failed::before {
	content: "\2716";
}
.summary-result-count.xfailed::before {
	content: "\2717";
}
.summary-result-count.error::before {
	content: "!";
}
.summary-result-count.xpassed::before {
	content: "\203D";
}


.test-result.passed .outcome {
	color: #00945E; /* 100% */
}

.test-result.skipped .outcome, .test-result.xfailed .outcome {
	color: #E16A2D; /* 100% */
}

.test-result.failed .outcome, .test-result.error .outcome, .test-result.xpassed .outcome {
	color: #B20734; /* 100% */
}


.test-result {
	display: flex;
	flex-direction: column;
	color: #484847;
	border-bottom: 1px solid #e5e5e5;
	background-color: white;
	padding: 7px 8px;
	font-size: 14px;
	overflow: auto;
}
.test-result .result-wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 7px;
}
.test-result .result-wrapper .test-info-wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.test-result .result-wrapper .test-info-wrapper .test-description {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.test-result.passed {
	background-color: #E6F5ED; /* 10% */
}
.test-result.skipped, .test-result.xfailed {
	background-color: #FFF0E8; /* 10% */
}
.test-result.failed, .test-result.error, .test-result.xpassed {
	background-color: #F8C0BE; /* 10% */
}


.test-result .test-description, .test-result .nodeid, .test-result .location, .test-result button {
   margin-left: 10px;
}

.test-result .nodeid, .test-result .location {
	border-bottom: 1px dotted black;
}


div.log {
	margin-top: 5px;
}

.toggle-log::before {
	content: "hide details";
}

.result-wrapper:not(.active) ~ div.log {
	height: 0;
	overflow: hidden;
	border: none;
	margin: 0;
	padding: 0;
}

.result-wrapper:not(.active) .toggle-log::before {
	content: "show details";
}


.log:only-child {
	height: inherit
}
.log {
	background-color: #e6e6e6;
	border: 1px solid #e6e6e6;
	color: black;
	display: block;
	font-family: "Courier New", Courier, monospace;
	height: inherit;
	overflow-y: scroll;
	padding: 5px;
	white-space: pre-wrap
}

.test-result:not(.shown), .results-summary-container:not(.shown) {
	display: none;
}


/******************************
 * EXTRAS
 ******************************/


.extras {
    display: flex;
    flex-direction: column;
	padding-left: 10px;
}

.preview-image-wrapper::after {
    content: "VIEW";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background: #0075C8;
    padding: 4px 8px;
    opacity: 0;
    display: block;
    pointer-events: none;
}

.extra-others {
	display: flex;
}

.extra-others .extra {
	margin: 5px 5px 5px 0;
}

.extra-others .extra {
    display: flex;
    object-fit: contain;
    position: relative;
}
.extra-json .content {
    object-fit: contain;
    display: flex;
    background-color: white;
	padding: 5px;
}

.extra-json .content:hover::after {
    content: "JSON";
	color: #f2f2f2;
	padding: 4px 8px;
    background: rgba(0, 0, 0, 0.75);
	position: absolute;
	top: 0;
	right: 0;
}
.extra-text .content {
    object-fit: contain;
    display: flex;
    background-color: white;
	padding: 5px;
}

.extra-text .content:hover::after {
    content: "TEXT";
	color: #f2f2f2;
	padding: 4px 8px;
    background: rgba(0, 0, 0, 0.75);
	position: absolute;
	top: 0;
	right: 0;
}

.extra-image-previews-wrapper {
    display: flex;
	align-content: flex-start;
	flex-wrap: wrap;
}

.preview-image-wrapper {
    background: white;
    position: relative;
}

.preview-image-wrapper:hover::after {
    opacity: 1;
}

.preview-image-wrapper:hover img {
    opacity: 0.6;
}

.extra-image-preview, .extra-image-preview img {
    max-height: 100px;
	max-width: 100px;
}

.extra-image-preview img {
	display: block;
}

.extra-item img {
	max-height: 100px;
	max-width: 100px;
}

.preview-button {
	display: inline-block;
}

.extra-image-preview img:hover {
	cursor: pointer;
}


/******************************
 * SLIDESHOW
 ******************************/

.slideshow-wrapper {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.slideshow-wrapper .backdrop {
    background-color: black;
    width: 100%;
    height: 100%;
    position: fixed;
    opacity: .5;
}

.slideshow-close-button {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 2em;
	padding: 16px;
	cursor: pointer;
}

.slideshow-close-button::after {
    content: "\2715";
}
.slideshow-close-button:hover {
	color: white;
	background-color: rgba(0, 0, 0, 0.8);
}


.slideshow-wrapper .slideshow-image-viewer {
    margin: 0 auto;
	flex: 1 1 auto;
	display: flex;
	width: 100%;
	height: 100%;
}

.slideshow-image-viewer-container {
    position: fixed;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-height: 90%;
    max-width: 90%;
	background-color: #222;
	display: flex;
	flex-flow: column;
}

.slideshow-image-details {
	height: 85%;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.slideshow-image {
	display: none;
	flex: 1 1 auto;
}

.slideshow-image.active {
	display: flex;
}


.slideshow-image img {
    object-fit: contain;
	width: 100%;
    height: 100%;
}


.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
  width: auto;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  user-select: none;
  -webkit-user-select: none;
}

.prev {
	left: 0;
	border-radius: 0 3px 3px 0;
}

.prev::before {
	content: "\276E";
}


.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

.next::before {
	content: "\276F";
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}


.slideshow-number {
    color: #f2f2f2;
    font-size: 12px;
	padding: 4px 8px;
    background: rgba(0, 0, 0, 0.75);
    position: absolute;
    top: 0;
}

.caption-container {
  text-align: center;
  padding: 2px 16px;
}

.caption-container p {
  color: white;
}

.thumbnail-container {
    width: 100%;
    height: 15%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    overflow-x: scroll;
}

.thumbnail-image {
    height: 100%;
    width: auto;
    opacity: 0.6;
    display: inline-block;
}

.thumbnail-image.active, .thumbnail-image:hover {
	opacity: 1.0;
}
